<ion-view view-title="修改登录密码">
    <ion-nav-buttons side="left">
        <yike-back></yike-back>
    </ion-nav-buttons>
    <ion-content  id="retrieve-password" class="con-bag padding">
        <ul>
            <li>
                <div>原密码</div>
                <div><input type="password" placeholder="请输入原密码(6~12位)" maxlength="12" ng-model="user.oldPassword"></div>
            </li>
            <li>
                <div>新密码</div>
                <div><input type="password" placeholder="请输入新密码(6~12位)" maxlength="12" ng-model="user.newPassword"></div>
            </li>
            <li>
                <div>确认密码</div>
                <div><input type="password" placeholder="请输入确认密码" maxlength="12" ng-model="user.confirmPassword"></div>
            </li>
            <li class="submit">
                <div ><button  ng-click="modificationLoginPassword()">确定</button></div>
            </li>
        </ul>
    </ion-content>

</ion-view>
