<ion-view view-title="修改提现密码">
    <ion-nav-buttons side="left">
        <yike-back></yike-back>
    </ion-nav-buttons>
    <ion-content  id="retrieve-password" class="con-bag padding">
        <ul>
            <li>
                <div>旧密码</div>
                <div><input type="password" placeholder="请输入旧提现密码(6位)" maxlength="6" ng-model="user.oldPassword"></div>
            </li>
            <li>
                <div>新密码</div>
                <div><input type="password" placeholder="请输入新提现密码(6位)" maxlength="6" ng-model="user.newPassword"></div>
            </li>
            <li>
                <div>确认密码</div>
                <div><input type="password" placeholder="请输入确认密码" maxlength="12" ng-model="user.confirmPassword"></div>
            </li>
            <li class="submit">
                <div ><button class="fr submit" ng-click="modificationWithdrawDepositPassword()">修改</button></div>
            </li>
        </ul>
    </ion-content>

</ion-view>
