<ion-view view-title="选择银行账号">
 <ion-nav-buttons side="left">
        <yike-back></yike-back>
    </ion-nav-buttons>
  <ion-content class="padding con-bag" id="choice-bank">
<div class="list">

    <a class="item " href="#" ui-sref="deposit-information">
    <div class="left">
      <p ><span class="one">中国工商银行</span></p>
      <p><span class="three">天津空港经济区空港第一支行</span></p>
      <p><span class="two">6217253411114068928</span></p>
      </div>
         
      <i class="ion-chevron-right"></i>
       <p class="three name-right">杨光宇</p>
    </a>

</div>
  </ion-content>

</ion-view>