<ion-view view-title="微信红包">
    <ion-nav-buttons side="left">
        <yike-back></yike-back>
    </ion-nav-buttons>
    <ion-content  id="get-red-sweep" class="con-bag">
      <div class="details-top">
         <div class="bg"><img src="img/home/hongbao-bg.png"></div>
         <div class="cont">
           <img class="one" src="img/home/touxiang.png">
           <p class="text"><span>麦田买卖顾问...</span>的红包 <img src="img/home/pin.png"></p>
           <p class="text1">恭喜发财，大吉大利</p>
           <p class="text2"><span>1.41</span> 元</p>
           <p class="text3">已存入零钱，可直接转账</p>
         </div>
      </div>
    </ion-content>

</ion-view>
