<ion-view view-title="我的消息">
 <ion-nav-buttons side="left">
        <yike-back></yike-back>
    </ion-nav-buttons>
  <ion-content class="padding con-bag" id="my-msg">
  <ion-refresher pulling-icon="ion-load-d" on-refresh="refresh()" refreshing-text="正在加载中.." refreshing-icon="ion-loading-b">
    </ion-refresher>
    <div class="dynamic_list">
      <ul>
       <li ng-repeat="announce in announces"  ui-sref="message-details({id:announce.id,status:'user'})" nav-direction="forward">
          <i class="icon ion-record" ng-show="announce.is_read == 0"></i>
          <span class="dynamic_title">{{announce.title}}</span>
          <span class="fr">{{announce.create_time*1000 | date:'yyyy-MM-dd'}}</span>
        </li>
      </ul>
    </div>
    <p ng-show="announces.length == 0" style="padding-top: 30%;text-align: center" ng-cloak>暂无消息</p>
    <p style="text-align: center; margin-top: 10px;" ng-hide="!noMoreItemsAvailable || announces.length == 0">已加载完全部数据</p>
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>

</ion-view>
