<ion-view view-title="找回密码">
    <ion-nav-buttons side="left">
        <yike-back></yike-back>
    </ion-nav-buttons>
    <ion-content  id="retrieve-password" class="con-bag padding">
        <ul>
            <li>
                <div>用户名</div>
                <div><input type="text" placeholder="请输入您的用户名" ng-model="user.username" maxlength="12"></div>
            </li>
            <li>
                <div>提现密码</div>
                <div><input type="password" placeholder="请输入您的提现密码" ng-model="user.txPassword" maxlength="12"></div>
            </li>
            <li>
                <div>新密码</div>
                <div><input type="password" placeholder="请输入新登陆密码(6-12位)" ng-model="user.password" maxlength="12"></div>
            </li>
            <li>
                <div>确认密码</div>
                <div><input type="password" placeholder="请输入确认密码(6-12位)" ng-model="user.confirmPassWord" maxlength="12"></div>
            </li>
            <li class="submit">
                <div><button ng-click="reset()">确定</button></div>
            </li>
        </ul>
    </ion-content>

</ion-view>
