<ion-view view-title="添加提现密码">
    <ion-nav-buttons side="left">
        <yike-back></yike-back>
    </ion-nav-buttons>
    <ion-content  id="retrieve-password" class="con-bag padding">
        <ul>
            <li>
                <div>提现密码</div>
                <div><input type="password" placeholder="请输入提现密码(6位)" maxlength="6" ng-model="user.password"></div>
            </li>
            <li>
                <div>确认密码</div>
                <div><input type="password" placeholder="请输入确认密码" maxlength="6" ng-model="user.confirmPassword"></div>
            </li>
            <li class="submit">
                <div><button class="fr submit" ng-click="addWithdrawDepositPassword()">确定</button></div>
            </li>
        </ul>
    </ion-content>

</ion-view>
