<ion-modal-view id="enter-room" class="shade" ng-click="closeModal()">
    <ion-content  scroll="false">
        <div class="enter-room">
            <div class="enter-top">
            	<div class="one">1</div>
            	<span> 点击联系客服 </span>
            	<img class="img-one" src="img/home/xian1.png">
            	<img class="img-two" src="img/home/xuxianjia.png">
            	<img class="img-two img-tw" src="img/home/xuxianren.png">
            	
            	
            </div>
            <div class="enter-top">
            	<div class="one">2</div>
            	<span> 点击刷新余额 </span>
            	<img class="img-one img-on" src="img/home/xian1.png">
            	<span class="next">余额</span>	
            	
            </div>
               <div class="enter-top">
            	<div class="one">3</div>
            	<span> 记录、玩法、走势图 </span>
            	<img class="img-one img-top" src="img/home/xian2.png">
    
            </div>
               <div class="enter-top">
            
            	<img class="img-two img-nie" src="img/home/xuxianxia.png">
    
            </div>
               <div class="enter-top">
            	<div class="one">4</div>
            	<span> 点击查看近 10 期 </span>
            	<img class="img-one img-tp" src="img/home/xian3.png">
           	
            	
            </div>
            <div class="enter-bottom">
            	<div class="one"><img src="img/home/dianji.png"></div>
            	<div class="two"><img src="img/home/touzhu.png"></div>
            </div>
        </div>

    </ion-content>

</ion-modal-view>